.auth-module h1 {
    margin: 0 0 30px;
}

.auth-module h3 {
    line-height: 100%;
}

.auth-module small {
    color: #888;
}

.auth-module .title-row .btn-group {
    margin-bottom: 12px;
}

.auth-module .detail-view .null {
    color: #888;
}

.auth-module .disabled {
    color: #888;
}

.auth-module .item-description-column {
    width: 65%;
}

.auth-module .actions-column {
    width: 30px;
}

.auth-module .assignment-items-column {
    width: 580px;
}

.auth-all-enabled {
    background-color: #DFF0D8 !important;
    border-color: #468847 !important;
}
.auth-all-enabled > .right-control {
    border-color: #468847 !important;
}

.auth-all-enabled > i.toggle {
     border-color: #468847 !important;
}

.auth-some-enabled {
    background-color: rgba(214, 231, 246, 1) !important;
    border-color: #3276B1 !important;
}
.auth-some-enabled > .right-control {
    border-color: #3276B1 !important;
}
.auth-some-enabled > i.toggle {
     border-color: #3276B1 !important;
}
